.AdminHomeWelcome {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding: 5rem;
	text-align: center;
	font-size: 5rem;
}

.AdminHomeWelcome p {
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.AdminHomeContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
}

.AdminHomeLinkTo {
	width: 25vw;
	height: 25vw;
	background-color: #fbd052;
	display: flex;
	justify-content: center;
  	box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
	align-items: center;
	font-family: 'HeimatMono';
	font-size: 2rem;
}

.AdminHomeLinkTo:hover {
	text-decoration: underline;
}