.ArticleThumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.075);
  width: 25vw;
  height: 25vw;
  background-color: white;
  text-align: center;
}

.ArticleThumbnail:hover {
  background-color: #fbd052;
}

.ArticleSection {
  color: #fbd052;
  font-size: 0.8rem;
}

.ArticleTitle {
  color: #2b2b2b;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  line-height: 1.4rem;
  padding: 0 1.5rem;
}

.ArticleDate {
  color: #fbd052;
  font-size: 0.8rem;
}

.ArticleThumbnail:hover .ArticleSection,
.ArticleThumbnail:hover .ArticleDate {
  color: #2b2b2b;
}
