form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

form button {
  padding: 0.8rem;
  margin: 0.3rem;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.item-left {
  width: 50vw;
}

.item-right {
  width: 50vw;
}

input {
  height: 35px;
  width: 35vw;
  margin-bottom: 30px;
  margin-top: 10px;
  white-space: pre-line;
  border: solid 1px darkgrey;
}

textarea {
  height: 12vh;
  width: 35vw;
  max-width: 35vw;
  margin-bottom: 30px;
  margin-top: 10px;
  white-space: pre-line;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

select {
  height: 35px;
  margin-top: 10px;
  width: 35vw;
  white-space: pre-line;
  margin-bottom: 30px;
  border-radius: 0;
  outline: none;
}

label {
  width: 35vw;
  font-family: 'IBMPlex';
  display: flex;
  flex-wrap: wrap;
}

input[type="submit"], .draft {
  cursor: pointer;
  height: 35px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-family: 'IBMPlex';
  font-size: 1rem;
  margin-bottom: 5rem;
}

input[type="submit"].submit:hover {
  background-color: #2b2b2b;
  color: white;
}

input[type="submit"].draft {
  margin: 2rem 0 0.25rem 0;
  opacity: 0.35;
}

input[type="submit"].draft:hover {
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.addModule {
  font-family: 'IBMPlex', sans-serif;
  font-size: 1.5rem;
  margin: 3.5rem 0 2rem 0;
  width: 35vw;
}

.removeModule {
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 0 0 0;
  align-self: flex-end;
  opacity: 0.35;
  padding: 0;
  right: 0;
  z-index: 300;
}

.draggableElement {
  cursor: move;
  display: flex;
  justify-content: space-between;
}

.opacity-ghost {
  opacity: 0.95;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 4px;
  width: 115%;
  padding: 3% 7.5% 7% 7.5%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.DynamicInputs {
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons input {
  background-color: #fbd052;
  border: none;
  margin-bottom: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

#buttons input:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}

.TagCardsContainer {
  display: flex;
  width: 35vw;
  flex-wrap: wrap;
  margin: 5px 0 35px 0;
}

.TagCard {
  border: solid 1px darkgrey;
  border-radius: 4px;
  padding: 7px 15px;
  margin: 10px 10px 0 0;
  font-family: 'HeimatMono';
  font-size: 0.7rem;
  text-align: center;
  width: auto;
}

.TagCard:hover {
  color: white;
  background-color: #2b2b2b;
  border-color: transparent;
}

.TagCardSelected {
  color: white;
  background-color: #2b2b2b;
  border-color: transparent;
}

.TagCardDraft {
  border: solid 1px #fbd052;
  background-color: #fbd052;
  border-radius: 4px;
  padding: 7px 15px;
  margin: 10px 10px 0 0;
  font-family: 'HeimatMono';
  font-size: 0.7rem;
  text-align: center;
  width: auto;
  cursor: default;
}

.errorPost {
  font-size: 0.7rem;
  font-family: 'HeimatMono';
  color: red;
  margin: -3rem 0 3rem 0;
}
