form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

form button {
  padding: 0.8rem;
  margin: 0.3rem;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.item-left {
  width: 50vw;
  /*background-color: cyan;*/
}

.item-right {
  width: 50vw;
}

input {
  height: 35px;
  width: 35vw;
  margin-bottom: 30px;
  margin-top: 10px;
  white-space: pre-line;
}

textarea {
  height: 12vh;
  width: 35vw;
  margin-bottom: 30px;
  margin-top: 10px;
  white-space: pre-line;
}

select {
  height: 35px;
  width: 35vw;
  margin-bottom: 20px;
}

label {
  font-family: 'IBMPlex';
}

.addModule {
  font-family: 'IBMPlex', sans-serif;
  font-size: 1.5rem;
  margin: 3rem 0;
  width: 35vw;
}

.draggableElement {
  cursor: move;
  display: flex;
  flex-direction: column;
}

.DynamicInputs {
  display: flex;
  flex-direction: column;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#buttons input {
  background-color: #fbd052;
  border: none;
  margin-bottom: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

#buttons input:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
}