form {
  display: flex;
  flex-direction: column;
}

form button {
  padding: 0.8rem;
  margin: 0.3rem;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.item-left {
  width: 50vw;
  /*background-color: cyan;*/
}

.item-right {
  width: 50vw;
}

input, textarea {
  height: 35px;
  width: 400px;
  margin-bottom: 30px;
  margin-top: 10px;
  white-space: pre-line;
}

select {
  height: 35px;
  width: 400px;
  margin-bottom: 20px;
}

label {
  font-family: 'IBMPlex';
}

.addModule {
  font-family: 'IBMPlex', sans-serif;
  font-size: 1.5rem;
  margin: 20px 0;
}

.draggableElement {
  cursor: move;
}
