.Contact img {
  width: 2rem;
  margin-right: 1rem;
  filter: invert(100%)
}

.Contact img:hover {
  filter: invert(0%)
}

.Contact iframe {
  width: 100vw;
}

.reseaux {
  display: flex;
  margin-top: 2rem;
}

.address {
  margin: 3rem 15rem;
  display: flex;
}

.address h4 {
  margin: 0;
  padding: 0 0 2rem 0;
  width: 40vw;
}

.Contact h2 {
  margin: 5rem 15rem;
}

.Contact .currentText {
  line-height: 1.75rem;
}
