.FiltersSection {
  position: fixed;
  z-index: 500;
  background-color: #fbd052;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
  width: 92vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1.6vw 4vw 1.6vw 4vw;
}

.Filter {
  font-family: "Heimat Mono Xtra Light", monospace;
  font-size: 0.7rem;
  color: #2b2b2b;
  width: 20vw;
  height: 1rem;
  background-color: transparent;
  margin: 2vh 0 2vh 0;
}

.Filter:hover {
  /*text-decoration: underline;*/

  /*border-bottom: solid 1px #2b2b2b;*/
  cursor: pointer;
  font-family: "Heimat Mono Bold", monospace;
}
