.FiltersSection {
  z-index: 500;
  background-color: #fbd052;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  padding: 1.6vw 0 2.5vw 0;
}

.Filter {
  width: 25vw;
  height: 1rem;
  background-color: transparent;
  margin: 2vh 0 2vh 0;
  cursor: pointer;
}

.FilterActive h6 {
  cursor: pointer;
  font-weight: 700;
}
