.FiltersSection {
  position: fixed;
  z-index: 500;
  background-color: #fbd052;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
  width: 92vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 1.6vw 4vw 1.6vw 4vw;
}

.Filter {
  width: 20vw;
  height: 1rem;
  background-color: transparent;
  margin: 2vh 0 2vh 0;
}

.Filter:hover h6 {
  cursor: pointer;
  font-weight: 700;
}
