.IntroBlocks {
	display: flex;
	flex-wrap: wrap;
	z-index: 3000;
}

.IntroBlockLeft {
	width: 50vw;
}

.IntroBlockRight {
	width: 50vw;
	/*background-color: red;*/
	font-family: 'Heimat Mono Xtra Light';
	font-size: 2rem;
}

.IntroBlockRight p {
	font-family: 'Heimat Mono Xtra Light';
	font-size: 1.5rem;
	padding: 6.5rem 4rem 0 6rem;
	line-height: 3.1rem;
}

.LogoBlock {
	width: 50vw;
	height: 45vh;
	background-color: #fbd052;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LogoImg {
	width: 20vw;
}


