.ModaleBlock {
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  position: fixed;
  top: 0;
  overflow: scroll;
  background-color: white;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
}

.ModaleBlockPreview {
  width: 50vw;
  z-index: 5000;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: -20px 10px 100px rgba(0, 0, 0, 0.05);
}

.ModaleHeader {
  backdrop-filter: saturate(0);
  -webkit-backdrop-filter: saturate(0);
  padding: 0.1rem 0.75rem;
}

.closeModaleBtn {
  position: fixed;
  right: 25px;
  top: 20px;
  font-size: 1.75rem;
  background-color: transparent;
  cursor: pointer;
  z-index: 5000;
}

.ModaleBlock img, .ModaleBlockPreview img {
  width: 50vw;
  padding-top: 3rem;
}

.ModaleBlockPreview img {
  width: 50vw;
}

.ModaleBlockPreview h2 {
  padding: 0;
  margin: 5rem 2rem 0 7rem;
}

.ModaleBlockPreview h3 {
  padding: 0;
  margin: 1rem 2rem 0 7rem;
}

.ModaleBlockPreview h4 {
  padding: 0;
  margin: 5rem 2rem 0 7rem;
}

.ModaleBlockPreview p {
  padding: 0;
  margin: 2rem 2rem 0 7rem;
}

.ModaleBlockPreview .smallLink {
  padding: 0;
  margin: 1rem 4rem 5rem 7rem;
}

.ModaleBlockPreview .quote {
  padding: 3rem 11rem;
}

.articleSuggestion {
  width: 100vw;
}
