.PartenairesContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 3rem 10rem 3rem 15rem;
}

.PartenaireContainer {
	width: 20vw;
	height: 20vw;
	box-shadow: -10px 0 50px rgba(0, 0, 0, 0.075);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: column;
	text-align: center;
}

.PartenaireContainer h6 {
	margin: 0 2.5rem 2rem 2.5rem;
	line-height: 1.2rem;
}

.LogoPartenaire {
	width: 13vw;
	margin-top: 2.5rem;
}
