@media all and (max-width: 1480px) {
/*	div {
		background-color: red;
	}*/
}

@media all and (max-width: 980px) {

	/* GENERAL */

	h1 {
	}

	.NavBar {
		display: none;
	}

	/* HOMEPAGE */

	.IntroBlockRight, .LogoBlock {
		height: 50vh;
		width: 100vw;
		padding: 0;
	}

	.LogoImg {
  		width: 30vw;
	}

	.IntroBlockRight {
		height: auto;
		width: 100vw;
		padding: 5rem 0;
	}

	.IntroBlockLeft {
		width: 100vw;
		height: 100vh;
	}

	.IntroBlocks {
		display: block;
	}

	.carouselContainer, .carouselContainer div {
		width: 100vw;
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: saturate(0);
		-webkit-backdrop-filter: saturate(0);
	}

	.carousel .slider-wrapper {
		height: 50vh;
	}

	/* ARTICLES THUMBNAILS */


	.ArticleThumbnailClassic, .RedirectingBlockToAllArticles {
		width: 50vw;
		height: 50vw;
	}

	.ArticleThumbnailClassic > *, .RedirectingBlockToAllArticles > * {
		width: 50vw;
	}

	.arrow {
		font-size: 5rem;
		padding-top: 7rem;
	}
}

@media all and (max-width: 750px) {

	/* FOOTER */

	.Footer {
		flex-direction: column;
		height: auto;
		padding: 1.5rem 0;
	}

	.Footer > div {
		width: 100vw;
		text-align: center;
		padding: 0.5rem;
	}
}

@media all and (max-width: 500px) {

	/* HOMEPAGE */

	.LogoImg {
  		width: 50vw;
	}

	h1 {
		font-size: 1.45rem;
		padding: 0 3.5rem;
		line-height: 2.5rem;
	}

	/* ARTICLES THUMBNAILS */

	.ArticleThumbnailClassic, .RedirectingBlockToAllArticles {
		width: 100vw;
		height: 50vh;
	}

	.ArticleThumbnailClassic > *, .RedirectingBlockToAllArticles > * {
		width: 100vw;
	}

	.arrow {
		font-size: 4.5rem;
		padding-top: 6rem;
	}
}