/*********** GENERAL **********/
/******************************/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Heimat Mono Xtra Light";
  src: url("./components/fonts/Heimat Mono ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Heimat Mono Xtra Bold";
  src: url("./components/fonts/Heimat Mono ExtraBold.ttf") format("truetype");
}


/*********** NAVBAR ***********/
/******************************/

.NavBar {
  width: 100vw;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0 200px rgba(0, 0, 0, 0.075);
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.NavBarLinks {
  width: 46vw;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 2vw;
}

.Logo {
  width: 46vw;
  padding: 2vw;
}



/****** ARTICLE THUMBNAIL ******/
/*******************************/

.ArticlesBlock {
  display: flex;
  flex-wrap: wrap;
}

.ArticleBlock {
  margin-top: 5.65vw; /* À RETIRER PLUS TARD  -> RÉCUPÉRER EN JS LA HEIGHT DE LA NAVBAR */
  box-shadow: 0px 0 200px rgba(0, 0, 0, 0.075);
  width: 25vw;
  height: 25vw;
  background-color: white;
  text-align: center;
  transition: 0.2s ease-out;
}

.ArticleBlock:hover {
  background-color: #fbd052;
  transition: 0.2s ease-in;
}

.ArticleBlock:hover .ArticleSection, .ArticleBlock:hover .ArticleDate{
  color: #2b2b2b;
  transition: 0.2s ease-in;
}

/*.ArticleBlock:hover .ArticleTitle{
  color: white;
  transition: 0.1s ease-in;
}*/

.ArticleSection {
  font-family: "Heimat Mono Xtra Light";
  color: #fbd052;
  font-size: 0.8rem;
  padding-top: 17%;
  transition: 0.2s ease-out;
}

.ArticleTitle {
  color: #2b2b2b;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.4rem;
  font-family: "Heimat Mono Xtra Bold", sans-serif;
  padding: 1rem 2.5rem 0 2.5rem;
  height: 35%;
}

.ArticleDate {
  font-family: "Heimat Mono Xtra Light";
  color: #fbd052;
  font-size: 0.8rem;
  padding-top: 25%;
  transition: 0.2s ease-out;
}
