* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.ArticleBlock {
  box-shadow: 0px 0 100px rgba(0, 0, 0, 0.1);
  width: 25vw;
  height: 25vw;
  background-color: white;
}

.ArticlesBlock {
  display: flex;
  flex-wrap: wrap;
}
