/* General Items */

* {
  margin: 0;
  padding: 0;
  color: #2b2b2b;
  transition: background-color 0.2s ease-out;
}

*:hover {
  transition: background-color 0.2s ease-in;
}

button {
  border: none;
  outline: 0;
}

.spacer {
  width: 100vw;
  height: 55px;
}

.FilterBlack {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

/* TYPEFACES
  font-face & font-weight

  https://developer.mozilla.org/fr/docs/Web/CSS/font-weight
  https://stackoverflow.com/a/28339483
  https://www.456bereastreet.com/archive/201012/font-face_tip_define_font-weight_and_font-style_to_keep_your_css_simple/
*/

@font-face {
  font-family: "HeimatMono";
  src: url("./fonts/HeimatMonoExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HeimatMono";
  src: url("./fonts/HeimatMonoSemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HeimatMono";
  src: url("./fonts/HeimatMonoExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlex";
  src: url("./fonts/IBMPlexSansRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlex";
  src: url("./fonts/IBMPlexSansSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: 'IBMPlex', sans-serif;
  font-weight: 400;
  margin: 2rem 15rem;
  line-height: 2rem;
  font-size: 1.2rem;
}

h1 {
  font-family: 'HeimatMono', monospace;
  font-weight: 200;
  font-size: 1.7rem;
  padding: 0 5rem 0 5rem;
  line-height: 3.1rem;
}

h2 {
  /* PAGE ATELIER HEADER = CHAPEAU SUR L'IMAGE EN BACKGROUND */

  /* PAGE MODALE = TITLE */
  font-family: 'HeimatMono', monospace;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 5rem 14rem 0 15rem;
  line-height: 3.5rem;
}

h3 {
  /* PAGE MODALE = SHORT DESCRIPTION */
  font-family: 'HeimatMono', monospace;
  font-weight: 100;
  font-size: 1.5rem;
  margin: 1.15rem 14rem 0 15rem;
  line-height: 2.25rem;
  color: white;
}

h4 {
  /* PAGE MODALE = PARAGRAPH TITLE */
  font-family: 'IBMPlex', sans-serif;
  font-weight: 600;
  margin: 0 15rem;
  padding-top: 5rem;
  font-size: 2rem;
}

h5 {
  font-family: 'HeimatMono', monospace;
  font-weight: 800;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  line-height: 1.5rem;
  margin: 0 2rem;
  transition: 0.2s ease-in;
}

h6 {
  font-family: 'HeimatMono', monospace;
  font-weight: 200;
  font-size: 0.85rem;
}

.bigLink {
  padding-bottom: 1px;
  border-bottom: solid 3px #5aff6e;
  cursor: pointer;
}

.smallLink {
  font-family: "IBMPlex", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #fbd052;
  text-decoration: underline;
  margin: 1.15rem 15rem 5rem 15rem;
  cursor: pointer;
}

.quote {
  /* Quotes in yellow and big size : on modale page and atelier page */
  font-family: "HeimatMono", monospace;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2.25rem;
  line-height: 3rem;
  padding: 3rem 7rem;
  color: #fbd052;
}

.bold {
  font-weight: 400;
}

/* Colors */

.yellow {
  color: #fbd052;
}

.darkgrey {
  color: #2b2b2b;
}

.green {
  color: #5aff6e;
}

